{% extends 'recsys_demo/_base.html' %}
{% load static %}

{% block css %}
{{ block.super }}
{% endblock css %}
{% block title %}Explantions of recommendations{% endblock title %}
{% block content %}
<div style="max-width: 60%; margin:0 auto;">
    <h4 class="mb-2 text-info" style="text-align: center;">Vous verrez ci-dessous le 1er film qui correspond le mieux à votre profil et l'explication de ce choix.</h4>
</div>

<!--<div style="width: 45%; margin:0 auto;">-->
<!--    <div class="alert alert-success">-->
<!--      <h4 class="alert-heading">How to...</h4>-->
<!--      <p class="mb-0">For each recommended movie, we provide you with three different explanation styles (left, middle and right). You are asked to:</p>-->
<!--        <ul>-->
<!--            <li>1. Read the explanation of the recommendation,</li>-->
<!--            <li>2. Rate the recommended item (1 - 5 stars),</li>-->
<!--            <li>3. Evaluate the explanations by rating and filling the corresponding questionnaires. </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->

<div style="width: 45%; margin:0 auto;">
    <div class="alert alert-success">
        <h3 class="alert-heading">Etape 1/6 </h3>
      <h4 class="alert-heading">Nous vous demandons maintenant de :</h4>
<!--      <p class="mb-0">Here, you are asked to:</p>-->
        <ul>
            <li>1. Lire la recommandation qui vous est faite et son explication,</li>
            <li>2. Evaluer cette recommandation sur une échelle de 1 (la plus mauvaise note) à 5 (la meilleure note),</li>
            <li>3. Compléter le questionnaire. </li>
        </ul>
    </div>
</div>
<br>

{% if rec_dicts %}
<div class="row">

<div class="col">
<!--    <div class="alert alert-success">-->
<!--        <h5 class="alert-heading">Explanation Style 1</h5>-->
<!--    </div>-->
    {% for iid, i_data in rec_dicts.0.items %}
    <div class="card mb-3 border-info" style="width: 90%; margin:0 auto;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{ i_data.exp_style.0.poster_path }}" class="card-img">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title text-dark">{{  i_data.exp_style.0.title }}</h5>
              <br>
<!--                  <h6 class="card-subtitle mb-2 text-info">Dbpedia link</h6>-->
<!--                  <a href="{{  i_data.explod.0.dbpedia_uri  }}" class="card-text" target="_blank"> See the movie at DBpedia</a>-->
              <h6 class="card-subtitle mb-2 text-info">Release date</h6>
              <p class="card-text">{{  i_data.exp_style.0.release_date  }} </p>
              <h6 class="card-subtitle mb-2 text-info">Explanation for item</h6>
              <p class="card-text">{{  i_data.exp_style.1|safe  }} </p>
              <hr/>
              <h6 class="card-subtitle mb-2 text-info">Evaluer la recommandation</h6>
              <form method="post" id="rating_form_Q1">
                  {% csrf_token %}
                  <div class="pt-3">
                      <input id="Q1_{{iid}}" name="movie_rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0" data-size="md">
                  </div>
              </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
<!--<hr class="sep-2" />-->
<!--    {% for iid, i_data in rec_dicts.1.items %}-->
<!--    <div class="card mb-3 border-danger" style="width: 100%; margin:0 auto;">-->
<!--      <div class="row no-gutters">-->
<!--        <div class="col-md-4">-->
<!--          <img src="{{ i_data.explod.0.poster_path }}" class="card-img">-->
<!--        </div>-->
<!--        <div class="col-md-8">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title text-dark">{{  i_data.explod.0.title }}</h5>-->
<!--              <br>-->
<!--&lt;!&ndash;                  <h6 class="card-subtitle mb-2 text-info">Dbpedia link</h6>&ndash;&gt;-->
<!--&lt;!&ndash;                  <a href="{{  i_data.explod.0.dbpedia_uri  }}" class="card-text" target="_blank"> See the movie at DBpedia</a>&ndash;&gt;-->
<!--              <h6 class="card-subtitle mb-2 text-info">Release date</h6>-->
<!--              <p class="card-text">{{  i_data.explod.0.release_date  }} </p>-->
<!--              <h6 class="card-subtitle mb-2 text-info">Explanation for item</h6>-->
<!--              <p class="card-text">{{  i_data.explod.1|safe  }} </p>-->
<!--              <hr/>-->
<!--              <h6 class="card-subtitle mb-2 text-info">Rate the recommendation (Please first read the explanation!)</h6>-->
<!--              <form method="post" id="rating_form_Q1">-->
<!--                  {% csrf_token %}-->
<!--                  <div class="pt-3">-->
<!--                      <input id="Q1_{{iid}}_svd_explod" name="movie_rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0" data-size="md">-->
<!--                  </div>-->
<!--              </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    {% endfor %}-->
<!--<hr class="sep-2" />-->
<!--    {% for iid, i_data in rec_dicts.2.items %}-->
<!--    <div class="card mb-3 border-warning" style="width: 100%; margin:0 auto;">-->
<!--      <div class="row no-gutters">-->
<!--        <div class="col-md-4">-->
<!--          <img src="{{ i_data.explod.0.poster_path }}" class="card-img">-->
<!--        </div>-->
<!--        <div class="col-md-8">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title text-dark">{{  i_data.explod.0.title }}</h5>-->
<!--              <br>-->
<!--&lt;!&ndash;                  <h6 class="card-subtitle mb-2 text-info">Dbpedia link</h6>&ndash;&gt;-->
<!--&lt;!&ndash;                  <a href="{{  i_data.explod.0.dbpedia_uri  }}" class="card-text" target="_blank"> See the movie at DBpedia</a>&ndash;&gt;-->
<!--              <h6 class="card-subtitle mb-2 text-info">Release date</h6>-->
<!--              <p class="card-text">{{  i_data.explod.0.release_date  }} </p>-->
<!--              <h6 class="card-subtitle mb-2 text-info">Explanation for item</h6>-->
<!--              <p class="card-text">{{  i_data.explod.1|safe  }} </p>-->
<!--              <hr/>-->
<!--              <h6 class="card-subtitle mb-2 text-info">Rate the recommendation (Please first read the explanation!)</h6>-->
<!--              <form method="post" id="rating_form_Q1">-->
<!--                  {% csrf_token %}-->
<!--                  <div class="pt-3">-->
<!--                      <input id="Q1_{{iid}}_hybrid_explod" name="movie_rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0" data-size="md">-->
<!--                  </div>-->
<!--              </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    {% endfor %}-->

<!--<div style="max-width: 60%; margin:0 auto;">-->
<!--    <h4 class="mb-2 text-info" style="text-align: center;">Please fill the questionnaire below</h4>-->
<!--</div>-->

<div class="card mb-3 border-dark" style="width: 90%; margin:0 auto;">
  <div class="row no-gutters">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title text-dark">Questionnaire</h5>
          <br>
          <h6 class="card-subtitle mb-2 text-dark">Je comprends pourquoi ce film m'a été recommandé.</h6>
          <form method="post" id="rating_form_Q2">
              {% csrf_token %}
              <div class="pt-3">
                  <input id="user_rating_Q2" name="movie_rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0" data-size="md">
              </div>
          </form>
          <hr/>
          <h6 class="card-subtitle mb-2 text-dark">L'explication fournie est convaincante.</h6>
          <form method="post" id="rating_form_Q3">
              {% csrf_token %}
              <div class="pt-3">
                  <input id="user_rating_Q3" name="movie_rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0" data-size="md">
              </div>
          </form>
          <hr/>
          <h6 class="card-subtitle mb-2 text-dark">Cette explication m'a permis de découvrir certaines informations sur le film recommandé.</h6>
          <form method="post" id="rating_form_Q4">
              {% csrf_token %}
              <div class="pt-3">
                  <input id="user_rating_Q4" name="movie_rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0" data-size="md">
              </div>
          </form>
          <hr/>
          <h6 class="card-subtitle mb-2 text-dark">L'explication fournie augmente ma confiance dans le système de recommandation.</h6>
          <form method="post" id="rating_form_Q5">
              {% csrf_token %}
              <div class="pt-3">
                  <input id="user_rating_Q5" name="movie_rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0" data-size="md">
              </div>
          </form>
          <hr/>
      </div>
    </div>
  </div>
 </div>
</div>

<!--<div class="col">-->
<!--    <div class="alert alert-success">-->
<!--        <h5 class="alert-heading">Explanation Style 2</h5>-->
<!--    </div>-->
<!--    {% for iid, i_data in rec_dicts.0.items %}-->
<!--    <div class="card mb-3 border-info" style="width: 100%; margin:0 auto;">-->
<!--      <div class="row no-gutters">-->
<!--        <div class="col-md-4">-->
<!--          <img src="{{ i_data.pem.0.poster_path }}" class="card-img">-->
<!--        </div>-->
<!--        <div class="col-md-8">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title text-dark">{{  i_data.pem.0.title }}</h5>-->
<!--              <br>-->
<!--&lt;!&ndash;                  <h6 class="card-subtitle mb-2 text-info">Dbpedia link</h6>&ndash;&gt;-->
<!--&lt;!&ndash;                  <a href="{{  i_data.pem.0.dbpedia_uri  }}" class="card-text" target="_blank"> See the movie at DBpedia</a>&ndash;&gt;-->
<!--              <h6 class="card-subtitle mb-2 text-info">Release date</h6>-->
<!--              <p class="card-text">{{  i_data.pem.0.release_date  }} </p>-->
<!--              <h6 class="card-subtitle mb-2 text-info">Explanation for item</h6>-->
<!--              <p class="card-text">{{  i_data.pem.1|safe  }} </p>-->
<!--              <hr/>-->
<!--              <h6 class="card-subtitle mb-2 text-info">Rate the recommendation (Please first read the explanation!)</h6>-->
<!--              <form method="post" id="rating_form_Q1">-->
<!--                  {% csrf_token %}-->
<!--                  <div class="pt-3">-->
<!--                      <input id="Q1_{{iid}}_cbf_pem" name="movie_rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0" data-size="md">-->
<!--                  </div>-->
<!--              </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    {% endfor %}-->
<!--<hr class="sep-2" />-->
<!--    {% for iid, i_data in rec_dicts.1.items %}-->
<!--    <div class="card mb-3 border-danger" style="width: 100%; margin:0 auto;">-->
<!--      <div class="row no-gutters">-->
<!--        <div class="col-md-4">-->
<!--          <img src="{{ i_data.pem.0.poster_path }}" class="card-img">-->
<!--        </div>-->
<!--        <div class="col-md-8">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title text-dark">{{  i_data.pem.0.title }}</h5>-->
<!--              <br>-->
<!--&lt;!&ndash;                  <h6 class="card-subtitle mb-2 text-info">Dbpedia link</h6>&ndash;&gt;-->
<!--&lt;!&ndash;                  <a href="{{  i_data.pem.0.dbpedia_uri  }}" class="card-text" target="_blank"> See the movie at DBpedia</a>&ndash;&gt;-->
<!--              <h6 class="card-subtitle mb-2 text-info">Release date</h6>-->
<!--              <p class="card-text">{{  i_data.pem.0.release_date  }} </p>-->
<!--              <h6 class="card-subtitle mb-2 text-info">Explanation for item</h6>-->
<!--              <p class="card-text">{{  i_data.pem.1|safe  }} </p>-->
<!--              <hr/>-->
<!--              <h6 class="card-subtitle mb-2 text-info">Rate the recommendation (Please first read the explanation!)</h6>-->
<!--              <form method="post" id="rating_form_Q1">-->
<!--                  {% csrf_token %}-->
<!--                  <div class="pt-3">-->
<!--                      <input id="Q1_{{iid}}_svd_pem" name="movie_rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0" data-size="md">-->
<!--                  </div>-->
<!--              </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    {% endfor %}-->
<!--<hr class="sep-2" />-->
<!--    {% for iid, i_data in rec_dicts.2.items %}-->
<!--    <div class="card mb-3 border-warning" style="width: 100%; margin:0 auto;">-->
<!--      <div class="row no-gutters">-->
<!--        <div class="col-md-4">-->
<!--          <img src="{{ i_data.pem.0.poster_path }}" class="card-img">-->
<!--        </div>-->
<!--        <div class="col-md-8">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title text-dark">{{  i_data.pem.0.title }}</h5>-->
<!--              <br>-->
<!--&lt;!&ndash;                  <h6 class="card-subtitle mb-2 text-info">Dbpedia link</h6>&ndash;&gt;-->
<!--&lt;!&ndash;                  <a href="{{  i_data.pem.0.dbpedia_uri  }}" class="card-text" target="_blank"> See the movie at DBpedia</a>&ndash;&gt;-->
<!--              <h6 class="card-subtitle mb-2 text-info">Release date</h6>-->
<!--              <p class="card-text">{{  i_data.pem.0.release_date  }} </p>-->
<!--              <h6 class="card-subtitle mb-2 text-info">Explanation for item</h6>-->
<!--              <p class="card-text">{{  i_data.pem.1|safe  }} </p>-->
<!--              <hr/>-->
<!--              <h6 class="card-subtitle mb-2 text-info">Rate the recommendation (Please first read the explanation!)</h6>-->
<!--              <form method="post" id="rating_form_Q1">-->
<!--                  {% csrf_token %}-->
<!--                  <div class="pt-3">-->
<!--                      <input id="Q1_{{iid}}_hybrid_pem" name="movie_rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0" data-size="md">-->
<!--                  </div>-->
<!--              </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    {% endfor %}-->

<!--&lt;!&ndash;<div style="max-width: 60%; margin:0 auto;">&ndash;&gt;-->
<!--&lt;!&ndash;    <h4 class="mb-2 text-info" style="text-align: center;">Please fill the questionnaire below</h4>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div class="card mb-3 border-dark" style="width: 100%; margin:0 auto;">-->
<!--  <div class="row no-gutters">-->
<!--    <div class="col-md-8">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title text-dark">Questionnaire</h5>-->
<!--          <br>-->
<!--          <h6 class="card-subtitle mb-2 text-dark">I understood why these movies were recommended to me.</h6>-->
<!--          <form method="post" id="rating_form_Q2_pem">-->
<!--              {% csrf_token %}-->
<!--              <div class="pt-3">-->
<!--                  <input id="user_rating_Q2_pem" name="movie_rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0" data-size="md">-->
<!--              </div>-->
<!--          </form>-->
<!--          <hr/>-->
<!--          <h6 class="card-subtitle mb-2 text-dark">The explanation made all the recommendations more convincing</h6>-->
<!--          <form method="post" id="rating_form_Q3_pem">-->
<!--              {% csrf_token %}-->
<!--              <div class="pt-3">-->
<!--                  <input id="user_rating_Q3_pem" name="movie_rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0" data-size="md">-->
<!--              </div>-->
<!--          </form>-->
<!--          <hr/>-->
<!--          <h6 class="card-subtitle mb-2 text-dark">The explanation helped me discover new information about all these movies</h6>-->
<!--          <form method="post" id="rating_form_Q4_pem">-->
<!--              {% csrf_token %}-->
<!--              <div class="pt-3">-->
<!--                  <input id="user_rating_Q4_pem" name="movie_rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0" data-size="md">-->
<!--              </div>-->
<!--          </form>-->
<!--          <hr/>-->
<!--          <h6 class="card-subtitle mb-2 text-dark">The explanation increased my trust in the recommender system</h6>-->
<!--          <form method="post" id="rating_form_Q5_pem">-->
<!--              {% csrf_token %}-->
<!--              <div class="pt-3">-->
<!--                  <input id="user_rating_Q5_pem" name="movie_rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0" data-size="md">-->
<!--              </div>-->
<!--          </form>-->
<!--          <hr/>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!-- </div>-->
<!--</div>-->

<!--<div class="col">-->
<!--    <div class="alert alert-success">-->
<!--        <h5 class="alert-heading">Explanation Style 3</h5>-->
<!--    </div>-->
<!--    {% for iid, i_data in rec_dicts.0.items %}-->
<!--    <div class="card mb-3 border-info" style="width: 100%; margin:0 auto;">-->
<!--      <div class="row no-gutters">-->
<!--        <div class="col-md-4">-->
<!--          <img src="{{ i_data.cem.0.poster_path }}" class="card-img">-->
<!--        </div>-->
<!--        <div class="col-md-8">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title text-dark">{{  i_data.cem.0.title }}</h5>-->
<!--              <br>-->
<!--&lt;!&ndash;                  <h6 class="card-subtitle mb-2 text-info">Dbpedia link</h6>&ndash;&gt;-->
<!--&lt;!&ndash;                  <a href="{{  i_data.cem.0.dbpedia_uri  }}" class="card-text" target="_blank"> See the movie at DBpedia</a>&ndash;&gt;-->
<!--              <h6 class="card-subtitle mb-2 text-info">Release date</h6>-->
<!--              <p class="card-text">{{  i_data.cem.0.release_date  }} </p>-->
<!--              <h6 class="card-subtitle mb-2 text-info">Explanation for item</h6>-->
<!--              <p class="card-text">{{  i_data.cem.1|safe  }} </p>-->
<!--              <hr/>-->
<!--              <h6 class="card-subtitle mb-2 text-info">Rate the recommendation (Please first read the explanation!)</h6>-->
<!--              <form method="post" id="rating_form_Q1">-->
<!--                  {% csrf_token %}-->
<!--                  <div class="pt-3">-->
<!--                      <input id="Q1_{{iid}}_cbf_cem" name="movie_rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0" data-size="md">-->
<!--                  </div>-->
<!--              </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    {% endfor %}-->
<!--<hr class="sep-2" />-->
<!--    {% for iid, i_data in rec_dicts.1.items %}-->
<!--    <div class="card mb-3 border-danger" style="width: 100%; margin:0 auto;">-->
<!--      <div class="row no-gutters">-->
<!--        <div class="col-md-4">-->
<!--          <img src="{{ i_data.cem.0.poster_path }}" class="card-img">-->
<!--        </div>-->
<!--        <div class="col-md-8">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title text-dark">{{  i_data.cem.0.title }}</h5>-->
<!--              <br>-->
<!--&lt;!&ndash;                  <h6 class="card-subtitle mb-2 text-info">Dbpedia link</h6>&ndash;&gt;-->
<!--&lt;!&ndash;                  <a href="{{  i_data.cem.0.dbpedia_uri  }}" class="card-text" target="_blank"> See the movie at DBpedia</a>&ndash;&gt;-->
<!--              <h6 class="card-subtitle mb-2 text-info">Release date</h6>-->
<!--              <p class="card-text">{{  i_data.cem.0.release_date  }} </p>-->
<!--              <h6 class="card-subtitle mb-2 text-info">Explanation for item</h6>-->
<!--              <p class="card-text">{{  i_data.cem.1|safe  }} </p>-->
<!--              <hr/>-->
<!--              <h6 class="card-subtitle mb-2 text-info">Rate the recommendation (Please first read the explanation!)</h6>-->
<!--              <form method="post" id="rating_form_Q1">-->
<!--                  {% csrf_token %}-->
<!--                  <div class="pt-3">-->
<!--                      <input id="Q1_{{iid}}_svd_cem" name="movie_rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0" data-size="md">-->
<!--                  </div>-->
<!--              </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    {% endfor %}-->
<!--<hr class="sep-2" />-->
<!--    {% for iid, i_data in rec_dicts.2.items %}-->
<!--    <div class="card mb-3 border-warning" style="width: 100%; margin:0 auto;">-->
<!--      <div class="row no-gutters">-->
<!--        <div class="col-md-4">-->
<!--          <img src="{{ i_data.cem.0.poster_path }}" class="card-img">-->
<!--        </div>-->
<!--        <div class="col-md-8">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title text-dark">{{  i_data.cem.0.title }}</h5>-->
<!--              <br>-->
<!--&lt;!&ndash;                  <h6 class="card-subtitle mb-2 text-info">Dbpedia link</h6>&ndash;&gt;-->
<!--&lt;!&ndash;                  <a href="{{  i_data.cem.0.dbpedia_uri  }}" class="card-text" target="_blank"> See the movie at DBpedia</a>&ndash;&gt;-->
<!--              <h6 class="card-subtitle mb-2 text-info">Release date</h6>-->
<!--              <p class="card-text">{{  i_data.cem.0.release_date  }} </p>-->
<!--              <h6 class="card-subtitle mb-2 text-info">Explanation for item</h6>-->
<!--              <p class="card-text">{{  i_data.cem.1|safe  }} </p>-->
<!--              <hr/>-->
<!--              <h6 class="card-subtitle mb-2 text-info">Rate the recommendation (Please first read the explanation!)</h6>-->
<!--              <form method="post" id="rating_form_Q1">-->
<!--                  {% csrf_token %}-->
<!--                  <div class="pt-3">-->
<!--                      <input id="Q1_{{iid}}_hybrid_cem" name="movie_rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0" data-size="md">-->
<!--                  </div>-->
<!--              </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    {% endfor %}-->

<!--&lt;!&ndash;<div style="max-width: 60%; margin:0 auto;">&ndash;&gt;-->
<!--&lt;!&ndash;    <h4 class="mb-2 text-info" style="text-align: center;">Please fill the questionnaire below</h4>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div class="card mb-3 border-dark" style="width: 100%; margin:0 auto;">-->
<!--  <div class="row no-gutters">-->
<!--    <div class="col-md-8">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title text-dark">Questionnaire</h5>-->
<!--          <br>-->
<!--          <h6 class="card-subtitle mb-2 text-dark">I understood why these movies were recommended to me.</h6>-->
<!--          <form method="post" id="rating_form_Q2_cem">-->
<!--              {% csrf_token %}-->
<!--              <div class="pt-3">-->
<!--                  <input id="user_rating_Q2_cem" name="movie_rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0" data-size="md">-->
<!--              </div>-->
<!--          </form>-->
<!--          <hr/>-->
<!--          <h6 class="card-subtitle mb-2 text-dark">The explanation made all the recommendations more convincing</h6>-->
<!--          <form method="post" id="rating_form_Q3_cem">-->
<!--              {% csrf_token %}-->
<!--              <div class="pt-3">-->
<!--                  <input id="user_rating_Q3_cem" name="movie_rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0" data-size="md">-->
<!--              </div>-->
<!--          </form>-->
<!--          <hr/>-->
<!--          <h6 class="card-subtitle mb-2 text-dark">The explanation helped me discover new information about all these movies</h6>-->
<!--          <form method="post" id="rating_form_Q4_cem">-->
<!--              {% csrf_token %}-->
<!--              <div class="pt-3">-->
<!--                  <input id="user_rating_Q4_cem" name="movie_rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0" data-size="md">-->
<!--              </div>-->
<!--          </form>-->
<!--          <hr/>-->
<!--          <h6 class="card-subtitle mb-2 text-dark">The explanation increased my trust in the recommender system</h6>-->
<!--          <form method="post" id="rating_form_Q5_cem">-->
<!--              {% csrf_token %}-->
<!--              <div class="pt-3">-->
<!--                  <input id="user_rating_Q5_cem" name="movie_rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0" data-size="md">-->
<!--              </div>-->
<!--          </form>-->
<!--          <hr/>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!-- </div>-->
<!--</div>-->

</div>
{% endif %}


<div style="max-width: 100%; margin: 0 auto;" class="text-center center-block">
    <button type="submit" id="feedback_exp_top1" class="btn btn-success" style="max-width: 100%; margin: 0 auto;"><i class="fa fa-check fa-lg"></i> Valider l'évaluation </button>
</div>
<br>

<div style="max-width: 100%; margin: 0 auto;" class="text-center center-block">
    <form action="/movie_rec/recommendation/re_eval">
        <button type="submit" id="feedback_exp_top1_done" class="btn btn-success" style="display:none; max-width: 100%; margin: 0 auto;"><i class="fa fa-arrow-circle-right fa-lg"></i> Etape suivante </button>
    </form>
</div>

{% endblock content %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'recsys_demo/js/movie_exp_top1.js' %}"></script>
<script>

</script>
{% endblock javascript %}