{% extends 'recsys_demo/_base.html' %}
{% load static %}

{% block css %}
{{ block.super }}
{% endblock css %}
{% block title %}Explantions of recommendations{% endblock title %}
{% block content %}
<div style="max-width: 60%; margin:0 auto;">
    <h4 class="mb-2 text-info" style="text-align: center;">Vous verrez ci-dessous le 2ème film qui correspond le mieux à votre profil et l'explication de ce choix.</h4>
</div>

<div style="width: 45%; margin:0 auto;">
    <div class="alert alert-success">
        <h3 class="alert-heading">Etape 3/6 </h3>
      <h4 class="alert-heading">Nous vous demandons maintenant de :</h4>
        <ul>
            <li>1. Lire la recommandation qui vous est faite et son explication,</li>
            <li>2. Evaluer cette recommandation sur une échelle de 1 (la plus mauvaise note) à 5 (la meilleure note),</li>
            <li>3. Compléter le questionnaire. </li>
        </ul>
    </div>
</div>
<br>

{% if rec_dicts %}
<div class="row">

<div class="col">
    {% for iid, i_data in rec_dicts.0.items %}
    <div class="card mb-3 border-info" style="width: 90%; margin:0 auto;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{ i_data.exp_style.0.poster_path }}" class="card-img">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title text-dark">{{  i_data.exp_style.0.title }}</h5>
              <br>
              <h6 class="card-subtitle mb-2 text-info">Release date</h6>
              <p class="card-text">{{  i_data.exp_style.0.release_date  }} </p>
              <h6 class="card-subtitle mb-2 text-info">Explanation for item</h6>
              <p class="card-text">{{  i_data.exp_style.1|safe  }} </p>
              <hr/>
              <h6 class="card-subtitle mb-2 text-info">Evaluer la recommandation</h6>
              <form method="post" id="rating_form_Q1">
                  {% csrf_token %}
                  <div class="pt-3">
                      <input id="Q1_{{iid}}" name="movie_rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0" data-size="md">
                  </div>
              </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

<div class="card mb-3 border-dark" style="width: 90%; margin:0 auto;">
  <div class="row no-gutters">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title text-dark">Questionnaire</h5>
          <br>
          <h6 class="card-subtitle mb-2 text-dark">Je comprends pourquoi ce film m'a été recommandé.</h6>
          <form method="post" id="rating_form_Q2">
              {% csrf_token %}
              <div class="pt-3">
                  <input id="user_rating_Q2" name="movie_rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0" data-size="md">
              </div>
          </form>
          <hr/>
          <h6 class="card-subtitle mb-2 text-dark">L'explication fournie est convaincante.</h6>
          <form method="post" id="rating_form_Q3">
              {% csrf_token %}
              <div class="pt-3">
                  <input id="user_rating_Q3" name="movie_rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0" data-size="md">
              </div>
          </form>
          <hr/>
          <h6 class="card-subtitle mb-2 text-dark">Cette explication m'a permis de découvrir certaines informations sur le film recommandé.</h6>
          <form method="post" id="rating_form_Q4">
              {% csrf_token %}
              <div class="pt-3">
                  <input id="user_rating_Q4" name="movie_rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0" data-size="md">
              </div>
          </form>
          <hr/>
          <h6 class="card-subtitle mb-2 text-dark">L'explication fournie augmente ma confiance dans le système de recommandation.</h6>
          <form method="post" id="rating_form_Q5">
              {% csrf_token %}
              <div class="pt-3">
                  <input id="user_rating_Q5" name="movie_rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0" data-size="md">
              </div>
          </form>
          <hr/>
      </div>
    </div>
  </div>
 </div>
</div>


</div>
{% endif %}


<div style="max-width: 100%; margin: 0 auto;" class="text-center center-block">
    <button type="submit" id="feedback_exp_top1" class="btn btn-success" style="max-width: 100%; margin: 0 auto;"><i class="fa fa-check fa-lg"></i> Valider l'évaluation </button>
</div>
<br>

<div style="max-width: 100%; margin: 0 auto;" class="text-center center-block">
    <form action="/movie_rec/recommendation/re_eval_2">
        <button type="submit" id="feedback_exp_top1_done" class="btn btn-success" style="display:none; max-width: 100%; margin: 0 auto;"><i class="fa fa-arrow-circle-right fa-lg"></i> Etape suivante </button>
    </form>
</div>

{% endblock content %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'recsys_demo/js/movie_exp_top1.js' %}"></script>
<script>

</script>
{% endblock javascript %}