{% extends 'recsys_demo/_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<header class="d-flex flex-column flex-md-row align-items-md-center p-5 bg-light">
  <div class="pt-md-3 pb-md-4" style="margin:0 auto;">
    <h2 class="bd-title mt-0">Hello, here!</h2>
    <p> This is a movie recommender system application. Thanks a lot for participating this online user study!
        The aim of the present study is to compare and evaluate different <b>explanation styles</b> of movie recommendations.
        To this end, we'd like to invite you to:
    </p>
      <ul>
          <li style="list-style-type:none">1. Select your favorite movies to build your profile. Following your profile, movie recommendations are then made for you.</li>
          <li style="list-style-type:none">2. Each recommended movie is associated with different explanation styles. </li>
          <li style="list-style-type:none">3. Evaluate the explanations by filling questionnaires with a 1-5 star rating system.</li>
      </ul>
      <p>The whole user study would take about 15 minutes. Don't worry, we will provide you with useful instructions during each phase, which will guild you.
          If you get ready, we invite you to start the user study by clicking "Movie recommendation" from the navigation bar on top.</p>
  </div>

<!--    <div class="row">-->
        <img src="{% static 'recsys_demo/img/movies.jpg' %}" class="img-fluid col-xs-4 col-md-3" style="width:80%"  alt="movies"/>
<!--        <img src="{% static 'recsys_demo/img/manga.jpg' %}" class="img-fluid col-xs-4 col-md-3" style="width:60%"  alt="movies"/>-->
<!--    </div>-->
</header>
{% endblock content %}
