{% extends 'recsys_demo/_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<header class="d-flex flex-column flex-md-row align-items-md-center p-5 bg-light">
  <div class="pt-md-3 pb-md-4" style="margin:0 auto;">
    <h2 class="bd-title mt-0">Bonjour !</h2>
    <p> Bienvenue sur ce site de recommandation de films. Vous avez accepté de participer à son évaluation et nous vous en remercions. Ce système vous proposera non seulement les films les plus pertinents par rapport à votre profil, mais également les explications de ces recommandations et ce sont ces explications qu'il vous est demandé d'évaluer. Pour cela :
    </p>
      <ul>
          <li style="list-style-type:none">1. Construisez votre profil : sélectionnez une liste minimale de 5 de vos films préférés</li>
<!--          <li style="list-style-type:none">2. Based on your profile, the system provide you with some recommended movies. Each of them will be associated with its explanation. </li>-->
          <li style="list-style-type:none">2. Après avoir consulté les recommandations qui vous sont faites, laissez-vous guider en répondant aux questions qui vous sont proposées</li>
      </ul>
      <p>La durée totale de cette évaluation ne devrait pas excéder 15 minutes.
          Alors... prêt ? Vous pouvez commencer en sélectionnant l'onglet "Lancer la recommandation" !</p>
  </div>

<!--    <div class="row">-->
        <img src="{% static 'recsys_demo/img/movies.jpg' %}" class="img-fluid col-xs-4 col-md-3" style="width:80%"  alt="movies"/>
<!--        <img src="{% static 'recsys_demo/img/manga.jpg' %}" class="img-fluid col-xs-4 col-md-3" style="width:60%"  alt="movies"/>-->
<!--    </div>-->
</header>
{% endblock content %}
