{% extends 'recsys_demo/_base.html' %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'recsys_demo/css/movie_rec.css' %}">

{% endblock css %}
{% block title %}Movie recommendations{% endblock title %}

{% block content %}
<div style="width: 65%; margin:0 auto;">
    <div class="alert alert-success">
      <h4 class="alert-heading">How to...</h4>
      <p class="mb-0">Please select at least 5 movies that you like. You can either:</p>
        <ul>
            <li>Find your desired movies by title using the search bar (recommended).</li>
            <li style="list-style-type:none"><b>OR</b></li>
            <li><p class="mb-0">Choose movies from the below randomly generated list.</p></li>
        </ul>
    </div>
</div>

<div>
    <form action="/movie_rec"  method="post" id="search_form">
    {%  csrf_token  %}
        <div class="input-group mb-3" style="width: 65%; margin:0 auto;">
            <input id="input_movie" name="movie_title" type="text" class="form-control typeahead tt-query" placeholder="Search among {{nb_movies_in_base}} movies by entering a title" autocomplete="off" spellcheck="false">
                <span class="input-group-btn">
                    <button id="search_btn" type="submit" class="btn btn-outline-secondary">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
        </div>
        </span>
    </form>

<!--    {% if warning%}-->
<!--    <div class="alert alert-warning" role="alert" style="width: 45%; margin:0 auto;">-->
<!--        {{warning}}-->
<!--    </div>-->
<!--    {% endif %}-->

    {% if movie_info %}
    <div style="width: 65%; margin:0 auto;">
        <h4 class="mb-2 text-info">User searched movie</h4>
    </div>
    <div class="card mb-3 border-info" style="width: 65%; margin:0 auto;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{ movie_info.poster_path }}" class="card-img">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title text-dark">{{  movie_info.title }}</h5>
              <br>
              <h6 class="card-subtitle mb-2 text-info">Dbpedia link</h6>
              <a href="{{  movie_info.dbpedia_uri  }}" class="card-text" target="_blank"> See the movie at DBpedia</a>
              <h6 class="card-subtitle mb-2 text-info">Movie overview</h6>
              <p class="card-text">{{  movie_info.overview  }} </p>
              <h6 class="card-subtitle mb-2 text-info">Release date</h6>
              <p class="card-text">{{  movie_info.release_date  }} </p>
<!--              <h6 class="card-subtitle mb-2 text-info">Rate this movie</h6>-->
              <form action="/movie_rec" method="post" id="rating_form">
                  {% csrf_token %}
                  <div class="pt-3">
<!--                      <input id="user_rating" name="movie_rating">-->
                      <div class="input-group-append">
                        <button id="submit_rating" type="submit" class="btn btn-success" onClick='showMessage()'>
                            <i class="fa fa-check fa-lg"></i> Add to profile
                        </button>
                      </div>
                  </div>
              </form>
          </div>
        </div>
      </div>
    </div>

    {% endif %}
    {% if random_movies_dict %}
    <div style="width: 65%; margin:0 auto;">
        <h4 class="mb-2 text-info">Showing randomly displayed movies</h4>
    </div>
    {% for iid, i_data in random_movies_dict.items %}
        <div class="card mb-3 border-info" style="width: 65%; margin:0 auto;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{ i_data.0.poster_path }}" class="card-img">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title text-dark">{{  i_data.0.title }}</h5>
                  <br>
                  <h6 class="card-subtitle mb-2 text-info">Dbpedia link</h6>
                  <a href="{{  i_data.0.dbpedia_uri  }}" class="card-text" target="_blank"> See the movie at DBpedia</a>
                  <h6 class="card-subtitle mb-2 text-info">Movie overview</h6>
                  <p class="card-text">{{  i_data.0.overview  }} </p>
                  <h6 class="card-subtitle mb-2 text-info">Release date</h6>
                  <p class="card-text">{{  i_data.0.release_date  }} </p>
                  <hr/>
<!--                  <h6 class="card-subtitle mb-2 text-info">Rate this movie</h6>-->
                  <form action="/movie_rec" method="post" id="rating_form_{{i_data.1}}">
                      {% csrf_token %}
                      <div class="pt-3">
<!--                          <input id="user_rating_{{i_data.1}}" name="movie_rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="4" data-size="md">-->
                          <div class="input-group-append">
                            <button id="submit_rating_{{i_data.1}}" type="submit" class="btn btn-success" onClick='showMessage()'>
                                <i class="fa fa-check fa-lg"></i> Add to profile
                            </button>
                          </div>
                      </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
    {% endif %}

    <form action="/movie_rec/profil" method="post">
      {% csrf_token %}
      <div class="input-group-append" style="width: 65%; margin:0 auto;">
        <button id="finish_rating" type="submit" class="btn btn-success" style="max-width: 100%; margin: 0 auto;">
            <i class="fa fa-arrow-circle-right fa-lg"></i> Finish rating
        </button>
      </div>
    </form>
</div>

</br>
{% endblock content %}
{% block javascript %}
{{ block.super }}

<script>
    var movie_id = "{{movie_id}}"
    var random_movie_id_dict = {{random_movie_id_dict|safe}}
    $(document).ready(function(){
        var movie_titles = {{movie_titles|safe}};
        // Constructing the suggestion engine
        var movie_titles = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            local: movie_titles
        });

        // Initializing the typeahead
        $('.typeahead').typeahead({
            hint: true,
            highlight: true, /* Enable substring highlighting */
            minLength: 1 /* Specify minimum characters required for showing result */
        },
        {
            name: 'movie_titles',
            source: movie_titles,
            limit: 10
        });
    });

function showMessage(){
	 alert("Movie added to your profile.");
}
</script>
<script src="{% static 'recsys_demo/js/movie_rec.js' %}"></script>

{% endblock javascript %}
