{% extends 'recsys_demo/_base.html' %}
{% load static %}

{% block title %}Thanks{% endblock title %}

{% block content %}
<header class="d-flex flex-column flex-md-row align-items-md-center p-5 bg-light">
  <div class="pt-md-3 pb-md-4" style="margin:0 auto;">
    <h2 class="bd-title mt-0">Bravo ! Vous avez fait un excellent travail !</h2>
    <p> Merci pour votre participation à cette étude. Vous pouvez quitter la session en vous déconnectant en haut à droite de la page.</p>
  </div>

<!--    <div class="row">-->
        <img src="{% static 'recsys_demo/img/thanks.png' %}" class="img-fluid col-xs-4 col-md-3" style="width:80%"  alt="thanks"/>
<!--        <img src="{% static 'recsys_demo/img/manga.jpg' %}" class="img-fluid col-xs-4 col-md-3" style="width:60%"  alt="movies"/>-->
<!--    </div>-->
</header>
{% endblock content %}
